#!/bin/rc

O=6

urls=( https://www.tagesschau.de/xml/rss2 https://lukesmith.xyz/rss.xml https://www.heise.de/security/rss/news-atom.xml )
prefixes=( tschau lukesmith heisesec )

ramfs -m /lib/news

for(i in `{seq 1 $#urls}){
	hget $urls($i) | $O.out -c -p $prefixes($i)
}
